.table-container{
	position: relative;
	overflow-x: auto;
	width: 100%;
	margin: 0 auto;
}
.table-container .header{
	font-weight: bold;
	display: table;
	box-sizing: border-box;
	width: 100%;
	height: 50px;
	padding-right: 17px;
	background: #CC0035;
    box-shadow: inset 0 -40px 100px -50px #790000;
	color: #FFFFFF;
}
div.panel-body{
	padding: 0;
}
.table-container .raiting-table__header{
	display: table-row;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	list-style: none;
}
.table-container .raiting-table__header li{
	display: table-cell;
	height: 50px;
	text-align: center;
	vertical-align: middle;
	float:none;
}
.table-container .raiting-table--scroll{
	overflow-y: scroll;

	height: 500px;
}
.table-container .raiting-table__body{
	display: table;

	width: 100%;
}
td:not(:nth-of-type(2)){
	text-align: center;
}
.table-container .raiting-table__body ul, .table-container .raiting-table__body div{
	display: table;
	width: 100%;
	height: 35px;
	margin: 0;
	padding: 0;
}
div.raiting-table__body ul:nth-child(2n){
	background: #B6FCD0;
}
.table-container .raiting-table__body div{
	height: 0;
}
.table-container div.raiting-table__body li{
	display: table-cell;

	vertical-align: middle;
}

.data2, .data3, .data4, .data5, .data6, .data7{
	width: 13%;
	text-align: center;
}
.data1{
	width: 35%;
	padding: 0 0 0 10px;
	cursor: pointer;
}
.hide{
	display: none;
}
input.form-control{
	text-align: center;
	border-radius: none;
}
.category-tree>.raiting-table__body>.raiting-table__row{
	background: #F0ECEC;
}
.category-tree>.raiting-table__body>.raiting-table__row>li>a>span{
	display: block;
	border: none;
}
.category-tree>.raiting-table__body>.raiting-table__row>li>a {
	cursor: default;
	text-decoration: none;
}

.category-tree>.raiting-table__body>.raiting-table__row>li:first-child a {
	cursor: pointer;
	text-decoration: none;
}

.raiting-table__row .sadomia{
	position: absolute;
	z-index: 1;
	top: 0;
	display: table;
	width: 100%;
	background: #55Dc55;
}
.raiting-table__row li>input.not-equal, .raiting-table__row li.not-equal{
	background-color: #FFDA57;
	border: 1px solid #FFF;
}

.raiting-table__row a.over, .raiting-table__row li.over{
	background-color: #E45555;
}

.inner-sadomia, .category-tree>.raiting-table__body>.raiting-table__row>li>a>.sadomia2{
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	border: 1px solid #FFF;
}

input {
	width: 100%;
	height: 35px;
	border-radius: 5px;
	outline: 0;
}
